name: Test and Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.20"
      - name: lint
        run: make lint
      - name: test
        run: make test
      - name: generate coverage report
        run: make cover
      - name: Codecov
        uses: codecov/codecov-action@v4.6.0
      - name: Build
        run: make build
